.weather-card{
    border: 2px solid black;
    border-radius: 5px;
    
}

.weather-card-main-image{
    margin: 10px 10px;
}

.weather-card-main-info{
    margin: 10px 10px;
}

.weather-card-main-image-wrapper{
    text-align: center;
}

.header{
    font-family: cursive;
    margin-bottom: 20px;
}

.menu-item {
    padding: 5px 5px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 10px;
}


.scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
    background-color: rgb(228, 228, 228);
}


.weather-list-element{
    background-color: #F4F4F4;
    width: 110px;
    height: 130px;
    list-style: none;
    text-align: center;
}
